// Базовые цвета
$color-white: #fff;
$color-black: #000;
$color-red: red;
$color-blue: #006bd2;
$color-select-blue: #f2f7fc;
$color-white: #fff;
$color-txt: #3f3737;
$color-grey-bg: #e7e7e7;
$color-light-bg: #f6f6f6;
$color-dark-blue: #153671;
$color-blue2: #006bce;
$color-light-blue: #87afe0;
$color-footer-bg: #eef0f2;
$color-grey: #6e7278;
$color-red: #e53d3d;
$color-grey-light: #d9d9d9;

$site-breakpoints: (
	mobile: 360px,
	tablet: 768px,
	middle: 1024px,
	desktop: 1440px,
	desktop-extra: 1640px,
	full: 1920px,
);

// отступ контента СТРАНИЦЫ для разных брекпоинтов
// работают через media-запрос min-width
$content-offset-over-min: 20px;
$content-offsets: (
	mobile: 20px,
	tablet: 40px,
	middle: 60px,
	desktop: 100px,
	desktop-extra: 100px,
	full: 100px,
);

// отступ для grid-container на разных брекпоинтах
// работают через media-запрос min-width
$gutter-size-over-min: 20px;
$gutter-size: (
	mobile: 10px,
	tablet: 10px,
	middle: 30px,
	desktop: 30px,
	desktop-extra: 40px,
	full: 40px,
);


$header-height-mobile: 50px;
$header-height-tablet: 70px;
$header-height-desktop: 90px;
$body-text-color: $color-black;
$body-background: $color-white;
$body-font-color: $color-black;
$body-font-family: "Montserrat", arial, sans-serif;

// Отступы
$indents: (
	"red": (
		"color": #f00,
		"sizes": (
			"mobile": 70px,
			"tablet": 80px,
			"desktop": 120px,
		),
	),
	"green": (
		"color": #95ff84,
		"sizes": (
			"mobile": 50px,
			"desktop": 70px,
		),
	),
	"yellow": (
		"color": #ffd600,
		"sizes": (
			"mobile": 30px,
			"middle": 40px,
			"desktop": 50px,
		),
	),
	"violet": (
		"color": #6663ff,
		"sizes": (
			"mobile": 20px,
			"middle": 30px,
		),
	),
	"blue": (
		"color": #50aee2,
		"sizes": (
			"mobile": 15px,
			"tablet": 20px,
			"desktop": 15px,
		),
	),
);
